*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif !important;
	font-size: 1.125rem;
	color: white;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	border: 5px solid red;
}

img {
	max-width: 150%;
}


.nav_nav {
	position:absolute;
	top:100%;
	left: 0;
  right: 0;
  padding-left: inherit;
  padding-right: inherit;
}


#responsive-navbar-nav {
	background-color: hsl(257, 27%, 26%);
	border-radius: 10px;
	margin-top: 1.50em;
	text-align: center;
	padding: 2.75em 0;
}

.signup-linkColor {
	background-color: hsl(180, 66%, 49%);
	border-radius: 30px;
	color: white !important;
	padding: .70em 7em !important;
	margin: 0 auto;

}

.nav-item {
	margin-bottom: .80em;
}

.secondary-nav-item {
	margin-top: .65em;
}

hr {
	width: 85%;
	margin-left: 1.35em !important;
}

a, hr {
	color: white !important;
}


.firstSection-text-button {
	margin-top: 2em;
}

h1 {
	font-size: 2.45rem !important;
	font-weight: 700 !important;
}

.firstSection-img {
	border: 5px red solid;
}

.first_section {
	margin-top: 5em;
	overflow: hidden;
}

.working-illustration {
	align-self: flex-start;
}

p {
	color: 	hsl(0, 0%, 75%);
}

.get-started-btn {
	background-color: hsl(180, 66%, 49%) !important;
	color: white !important;
	text-align: center;
	margin-top: .50em;
	padding: .40em 1.75em !important;
}

.second_section {
	background-color: hsl(0, 0%, 75%);
	padding: 8em 0;
}

.input-group {
	margin-top: 1em;
}

.form {
	margin-top: 1em;
	background-color: hsl(257, 27%, 26%);
	padding: .20em 0;
	border-radius: 5px;
	transform: translateY(70px);
}

.form-control {
	width: 85% !important;
	margin: 0 auto;
	padding: .50em 0;
	border-radius: 5px !important;
}

#button-addon2 {
	background-color: hsl(180, 66%, 49%);
	border-radius: 5px;
	padding: .50em 0;
	width: 85%;
	margin: 0 auto;
	color: white;
}

.flex-column {
	gap: 15px;
}

