*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.125rem;
	color: black;
	margin: 0;
	min-height: 100vh;
}

.container {
	margin: 0 auto;
}

img {
	max-width: 150%;
}

.navbar {
	padding: 1em 0;
}

.nav_nav {
	position:absolute;
	top:100%;
	left: 0;
  	right: 0;
}

#responsive-navbar-nav {
	background-color: hsl(257, 27%, 26%);
	border-radius: 10px;
	margin-top: 2.6em;
	text-align: center;
	padding: 2.20em 0;
}

.nav-right-links .signup-linkColor {
	background-color: hsl(180, 66%, 49%);
	border-radius: 30px;
	padding: .70em 0;
	margin: 0 auto;
	width: 85%;

}

.signup-linkColor:hover {
	opacity: 0.6;
}

.nav-item {
	margin-bottom: .80em;
}

.secondary-nav-item {
	margin-top: 1.35em;
}

hr {
width: 85%;
color: white;
transform: translateY(180px);
margin: 0 auto;
}

#responsive-navbar-nav a {
	color: white;
}


.firstSection-text-button {
	margin-top: 2em;
}

.firstSection-text-button p {
	padding: 1em;
	margin-top: -.70em;
	margin-bottom: 0;
}

h1 {
	font-size: 2.45rem;
	font-weight: 700;
}

.first_section {
	margin-top: 5em;
	overflow: hidden;
}

.working-illustration {
	align-self: flex-start;
}

p {
	color: hsl(257, 7%, 63%);
}

.get-started-btn {
	background-color: hsl(180, 66%, 49%);
	color: white;
	text-align: center;
	margin-top: .85em;
	padding: .60em 1.75em;
}

.btn:hover {
	color: white;
	opacity: 0.6;
	background-color: hsl(180, 66%, 49%);
	border-color: hsl(180, 66%, 49%);
}

.second_section {
	padding-top: 1em;
	padding-bottom: 3.50em;
	background-color: hsl(0, 0%, 75%);
	margin-top: 9em;
}


#input-group {
	margin-top: 1em;
	width: 85%;
}

.form {
	margin-top: 1em;
	background-color: hsl(257, 27%, 26%);
	border-radius: 5px;
	transform: translateY(-110px);
	align-items: center;
	background-image: url("/src/images/bg-shorten-mobile.svg");
  background-size: 63%;
  background-position: right top;
  background-repeat: no-repeat; 
}

#input-group .form-control {
	padding: .50em 0;
	border-radius: 5px;
	text-indent: 15px;
	transform: translateY(5px);
}

#button-addon2 {
	background-color: hsl(180, 66%, 49%);
	border-radius: 5px;
	padding: .50em 0;
	width: 85%;
	color: white;
	transform: translateY(-22px);
	border-color: hsl(180, 66%, 49%);
}

#button-addon2:hover {
	opacity: 0.6;
}

.flex-column {
	gap: 9px;
}

.second_section-container {
	position: relative;
	z-index: 5;
}

.second_section-header-text {
	margin-bottom: 3em;
	margin-top: 5em;
}

.second_section-header-text-first-box {
	margin-top: -2.50em;
}

.second_section-header-text-box {
	background-color: white;
	margin-bottom: 1em;
	padding-top: 3em;
	padding-bottom: 1em;
	border-radius: 5px;
}

.circle {
	background-color: hsl(257, 27%, 26%);
  	border-radius: 50%;
  	display: inline-block;
  	padding: .90em;
  	transform: translateY(35px);
}

.first-circle, .second-circle {
	padding: 1.20em;
}

.feature-boxes {
  position: relative;
}

.vertical-line {
	border-left: 6px solid hsl(180, 66%, 49%);
	padding-top: 42em;
	position: absolute;
  	left: 49%;
  	top: 230px;
  	z-index: -1;
}

.second_section-header-text-box p {
	padding: 1.10em;
}

.second_section-header-text p {
	margin-top: 1.50em;
}

.second_section-header-text h2 {
	font-weight: 700;
}

.second_section-header-text-box h5 {
	margin-top: 1em;
	font-weight: 700;
}

.third_section {
	background-color: hsl(257, 27%, 26%);
	padding: 3em 0;
}

.third_section h2 {
	font-size: 1.7rem;
	font-weight: 700;
}

.third_section_text_button {
	margin-top: .20em;
}

.fourth_section {
	background-color: hsl(260, 8%, 14%);
	padding-bottom: 4em;
}

.fourth_section ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.fourth_section h6 {
	color: white;
	margin-bottom: 1.5em;
}

.fourth_section li:hover {
	color: hsl(180, 66%, 49%);
}

.fourth_section li {
	font-size: .90rem;
	margin-bottom: .55em;
	color: hsl(257, 7%, 63%);
}

.fourth_section a {
	text-decoration: none;
}

.shortly-logo {
	filter: brightness(0) invert(1);
	margin-top: 3em;
}

.features-list {
	margin-top: 2.5em;
	margin-bottom: 2.5em;
}

.text-list {
	margin-bottom: 2.5em;
}

.icon-list {
	margin-right: 1em;
}

.icon-list:hover {
	filter: invert(47%) sepia(51%) saturate(2878%) hue-rotate(143deg) brightness(100%) contrast(97%);
}

.validation-text {
	color: hsl(0, 87%, 67%);
	text-align: left;
	font-size: 1rem;
	transform: translateY(4px);
	font-style: italic;
}

.color::placeholder {
  	color: hsl(0, 87%, 67%);
}


.list-style {
	background-color: white;
	padding-bottom: 1.5em;
	border-radius: 5px;
}

.list-of-links {
	margin-top: -5em;
	gap: 15px;
}

.origin-link {
	transform: translateY(11px);
	margin-left: 1em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 90%;
	text-align: start;
	color: black;
}

.links-line {
	color: gray;
	width: 100%;
	transform: translateY(50px);
}

.shorten-link {
  text-align: start;
  margin-left: 1em;
  color: hsl(180, 66%, 49%);
  transform: translateY(-22px);
}

.link-button {
  margin-left: 1em;
  width: 90%;
	background-color: hsl(180, 66%, 49%);
	border: none;
	padding: .50em 0;
	transform: translateY(55px);
}





@media (min-width: 768px) {

	nav {
		margin-top: -1.5em;
	}

	.nav_nav {
		margin-top: 1em;
	}

	.header-logo {
		margin-right: 0.90em;
	}

	#responsive-navbar-nav {
		background-color: initial;
		margin: 0;
		padding: 0;
	}

	#responsive-navbar-nav .nav-item {
		color: hsl(257, 7%, 63%);
		font-size: .90rem;
		margin-right: 0.75em;
	}

	#responsive-navbar-nav {
		margin-top: .30em;
	}

	.secondary-nav-item {
		margin-right: 1.5em !important;
		margin-top: 0;
		transform: translateY(5px);
	}

	.signup-linkColor {
  	transform: translateY(-2.6px);
	}

	.nav-right-links .signup-linkColor {
		padding: .50em 1.2em !important;
		font-size: .90rem;
		margin-top: .60em;
		background-color: hsl(180, 66%, 49%);
		margin-bottom: 1.0em;
	}

	hr {
		display: none;
	}

	h1 {
		font-size: 4rem;
		width: 200%;
	}

	.first_section_text-image {
		justify-content: space-between;
		gap: 450px;
		margin-top: 2.5em;
	}

	.firstSection-text-button p {
		padding: 0;
		width: 200%;
	}

	.firstSection-text-button {
		margin-top: 3em;
	}

	.get-started-btn {
		margin-top: 2em;
	}

	.working-illustration {
		max-width: 55%;
	}

	.second_section {
		margin-top: 7em;
	}

	#input-group {
		width: 74%;
		transform: translateY(6px);
	}

	.color {
  	transform: translateY(46px) !important;
	}
	

	#input-group .form-control {
		margin-top: 0;
	}

	#button-addon2 {
		width: 12%;
		transform: translate(6px, 4px);
	}

	.formButton {
		transform: translate(5px, 2.50px) !important;
	}

	.form {
		padding: 1.1em 0;
		background-image: url("/src/images/bg-shorten-desktop.svg");
		background-repeat: no-repeat;
		background-size: cover;
		gap: 5px;
		justify-content: center;
	}

	.formPadding {
		padding: 2.1em 0;
	}

	.second_section-header-text p {
		width: 48%;
		margin: 0 auto;
		padding-top: .55em;
		line-height: 1.7;
	}

	.feature-boxes {
		display: flex;
		flex-direction: row;
		gap: 80px;
	}

	.vertical-line {
		transform: rotate(90deg);
		padding-bottom: 0;
		padding-top: 30em;
		top: -70px;
	}

	.circle {
  		margin-right: 10.5em;;
	}

	.third-circle {
		margin-right: 9.5em;
	}

	.second_section-header-text-third-box {
		margin-top: 3em;
	}

	
	.third_section {
		background-image: url("/src/images/bg-boost-desktop.svg") !important;
	}

	.third_section h2 {
		font-size: 2.2rem;
	}

	.footer {
		display: flex;
		flex-direction: row;
		gap: 70px;
		margin-left: 10em;
		margin-top: -4.1em;
	}

	
	.features-list {
		margin-left: 9.7em;
	}
	

	.text-list, .social-icons {
		margin-top: 2.5em;
		margin-right: 2em;
	}

	.shortly-logo {
  		margin-top: 3.5em;
	}

	.second_section-header-text-box {
		background-color: white;
		padding-top: 2em;
		width: 117.5%;
	}

	.second_section-header-text-box h5 {
  		font-weight: 700;
  		text-align: start;
  		padding: 1.50em;
  		margin-bottom: -2em;
	}

	.second_section-header-text-box p {
  		padding: 1.50em;
  		text-align: start;
  		width: 104.2%;
	}

	.validateMd {
		margin-top: -2.3em !important;
	}

	
	.validation-text {	
		transform: translateY(52px);
	}

	.errorValidation {
		transform: translateY(47px);
	}

	.list-style {
  	padding: 0;
	}

	.origin-link {
		width: 60%;
		transform: translateY(22px);
		margin-left: 1.5em;
		margin-top: 0;
		margin-bottom: 0;
	}

.link-button {
  width: 9.50%;
	transform: translateY(-12.5px);
	margin-right: 1.5em;
}

.shorten-link {
	margin-right: .35em;
	transform: translateY(-4.5px);
	margin-top: 0;
  margin-bottom: 0;
}


}


@media (min-width: 768px) and (max-width: 1199px) {

	.firstSection-text-button {
  		margin-top: 2em;
	}
	
	h1 {
  		font-size: 3.2rem;
	}
	
	.working-illustration {
  		max-width: 75%;
  		margin-left: -13em;
	}

	#input-group {
		width: 65%;
	}

	#button-addon2 {
  		width: 18%;
	}

	.second_section-header-text p {
  		width: 65%;
  	}

  	.feature-boxes {
		gap: 20px;
	}

	.second_section-header-text-box {
  		width: 100%;
	}

	.circle {
		margin-right: 0;
		transform: translate(-40px, 40px);
	}

	.third-circle {
  		transform: translate(-35px, 40px);
	}
	
	.third_section {
		padding: .85em 0;
	}

	.footer {
	  	margin-left: 0; 
	}

	.origin-link {
		width: 40%;
	}

}

@media (min-width: 768px) and (max-width: 991px) {
	.footer {
	  	gap: 40px;
	}
}



 